.topnav {
  overflow: hidden;
  background-color: #a19f9f;
  position: absolute;
  border-radius: 20px;
  z-index: 1;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 12px;
  display: block;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: white;
}